DATABASE_URL=postgresql://neondb_owner:npg_4ojKTMDmzUc6@ep-polished-wave-a4f19l8y-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
APP_BASE_URL=https://tiny-link-vyl2.onrender.com
PORT=10000